<h1>All tweets for <span data-keywordid = <%= @keyword.id %>><%= @keyword.title %></span></h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.content %> 
      <%= link_to "Delete",
            tweet_path(tweet),
            method: :delete, 
            remote: true %>
    </li>
  <% end %>
</ul>

<%= link_to "Refresh", refresh_tweets_keyword_path(@keyword), id:"refresh-button"%>